**
!requirements-prod.txt

!app/
app/*
!app/__init__.py

!app/api/
app/api/*
!app/api/*.py

!app/training/
app/training/*
!app/training/__init__.py
!app/training/model.py
!app/training/data_ingestion.py

!app/training/artifacts/
app/training/artifacts/*
!app/training/artifacts/class_names.json

!app/training/artifacts/checkpoints/
app/training/artifacts/checkpoints/*
!app/training/artifacts/checkpoints/last.ckpt